* {
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color: mediumblue;
}
a:hover{
    text-decoration: underline;
    cursor: pointer;
}

@font-face {
    font-family: google-belanosima;
    src: url("@/static/fonts/Belanosima-Regular.ttf");
}
.font-belanosima {font-family: google-belanosima,sans-serif;}

.container {
    background: #56CCF2; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2F80ED, #56CCF2); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2F80ED, #56CCF2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    align-items: center;
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

/* display */
.display-table-cell{display:table-cell !important}
.display-table {display:table !important; border-spacing: 5px 5px;}
.display-none {display:none !important}
.display-block{display: block !important;}
.display-inline-block {display: inline-block !important;}
.display-flex {display: flex!important;}

/* width */
.width-40px {width: 40px;}
.width-60px {width: 60px;}
.width-80px {width: 80px;}
.width-100px {width: 100px;}
.width-200px {width: 200px;}
.width-300px {width: 300px;}

.width-80 {width: 80%}
.width-85 {width: 85%}
.width-90 {width: 90%}
/* height */
.height-40px {height:40px;}
.height-50px {height:50px;}
.height-100px {height:100px;}
.height-200px {height:200px;}
.height-300px {height:300px;}

/* margin */
.margin-left-10px {margin-left: 10px;}
.margin-left-20px {margin-left: 20px;}

.margin-top-100px {margin-top: 100px;}
.margin-tb-5px {margin-top: 5px;margin-bottom: 5px;}
.margin-tb-10px {margin-top: 10px;margin-bottom: 10px;}

/* padding */
.padding-tb-5px {padding-top:5px;padding-bottom: 5px}

/* center */
.text-center{text-align: center;}
.text-left {text-align: left;}
.box-center {margin: 0 auto;}
.vertical-center{
    height: 100%;
    vertical-align: middle;
}
/* color */
.color-apple-wight {color: rgb(239, 239, 239);}
.color-black {color: rgb(0,0,0);}

/* background color */
.bg-wight {background-color: rgb(255,255,255);}
.bg-blue {background-color: rgb(151, 190, 243);}
/* font size */
.text-extra-small {font-size:5px; line-height:6px}
.text-small {font-size:12px; line-height:20px}
.text-medium {font-size:16px; line-height:23px}
.text-large {font-size:18px; line-height:26px}
.text-extra-large {font-size: 20px; line-height:26px}
.title-large {font-size: 50px; line-height:45px}
.title-extra-large {font-size: 72px; line-height:55px}

/* font weight */
.font-weight-300 {font-weight: 300;}
.font-weight-500 {font-weight: 500;}
.font-weight-700 {font-weight: 700;}

/* border */
.border-radius-20px {border-radius: 20px;}
.border-radius-25px {border-radius: 25px;}

/* overflow */
.hidden {overflow: hidden;}

/* float */
.float-left {float: left;}